@model SEMS.ViewModels.ChangePassWord

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "修改密码失败")

<h2>修改密码</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>管理员修改密码</legend>

        <div class="editor-label">
            @Html.LabelFor(m => m.Oldpwd)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Oldpwd)
            @Html.ValidationMessageFor(m => m.Oldpwd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Newpwd)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Newpwd)
            @Html.ValidationMessageFor(m => m.Newpwd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Confirmpwd)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Confirmpwd)
            @Html.ValidationMessageFor(m => m.Confirmpwd)
        </div>

        <input type="submit" value="确认修改" />
    </fieldset>
}
